<page-header>
</page-header>

<div class="container">
      <div class="well form-inline">
            <div class="form-group">
                  <input type="text" class="form-control" placeholder="Введите...">
            </div>
            <button type="submit" class="btn btn-defaultt">Найти</button>
            <button type="submit" class="btn btn-default pull-right">Добавить новый</button>
      </div>

      <div>
            <div class="panel panel-default" *ngFor="let course of courses">
                  <div class="panel-heading">
                        <span>{{course.title}}</span>
                        <span> - </span>
                        <span>{{course.duration}}</span>
                        <span class="pull-right">{{course.date | date: 'dd.MM.yy'}}</span>
                  </div>
                  <div class="panel-body">
                        <div>{{course.description}}</div>
                        <div class="form-inline">
                              <div class="">
                                    <button class="btn btn-default pull-right">Edit</button>
                              </div>
                              <div class="">
                                    <button class="btn btn-default pull-right">Delete</button>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>