<page-header>
</page-header>

<div class="container">
      <div class="well form-inline">
            <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="param" placeholder="Введите...">
            </div>
            <button type="submit" class="btn btn-defaultt" (click)="search(param)">Найти</button>
            <button type="submit" class="btn btn-default pull-right" (click)="addCourse()">Добавить новый</button>
      </div>
      <courses-list [courses]="filtredCourses" (onEditCourse)="editCourse($event)" (onDeleteCourse)="deleteCourse($event)"></courses-list>
</div>